.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: #fff;
  padding: 60px 80px;
  font-size: 16px;
  line-height: 20px;
}

.footer__columns {
  display: flex;
}

.footer__column_content_hours {
  margin-left: auto;
  margin-right: 80px;
}

.footer__column_content_social {
  margin-left: 0;
}
/* I put the left margin as 0 because Prettier would not let me leave this rule empty.
The video explained I could use margin-right: 80px for .footer__column_content_hours or margin-left: 80px in this part with no right margin. */

.footer__logo {
  width: 57px;
  height: 80px;
}

.footer__list {
  /* The code below removes the default browser styles for lists */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin: 0 0 16px;
}

.footer__list-item:last-child {
  margin: 0;
}

.footer__column-heading {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 20px;
}

.footer__column-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  gap: 10px;
}

.footer__column-link:hover {
  color: #c1c1c1;
  cursor: pointer;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  margin: 108px 0 0;
}
